.button {
  background-color: #72a094;
  color: #fff;
  border: none;
  padding: 25px 60px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}
